@import "tailwindcss";

:root {
  --color-background: #fdf0d5;
  --color-surface: #f7f5f0;

  --color-primary: #003049;
  --color-secondary: #38509e;
  --color-muted: #043d8d;

  --color-accent: #38bdf8;
  --color-accent-hover: #0ea5e9;

  --color-highlight: #dc3903;
  --color-border: #223248;
}

@theme {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-muted: var(--color-muted);

  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);

  --color-highlight: var(--color-highlight);

  --color-border: var(--color-border);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-primary);
}
